body {
  padding: 0;
  text-align: center;
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  width: 100vw;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}

#game-screen {
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/road.png);
  background-size: cover;
  display: none;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

.crash {
  animation: spin 2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes spin {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotate(20deg) rotateX(-60deg) scale(1.4);
  }
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
